doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/style.css')
    title Document
header.header
    .container
        nav.header__navigation
            ul.header__navigation-item
                li.header__navigation-links
                    a(href='#') Home
                li.header__navigation-links
                    a(href='#') About
                li.header__navigation-links
                    a(href='#') Contact
            .header__logo
                a(href='#')
                    img(src='./additional_files/img/Landie.svg' alt='Logo.')
            .header__button
                a.header__button-item(href='#') Buy Now
        .header__content
            h1.header__content-title Introduce Your Product Quickly &amp; Effectively
            p.header__content-text
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                br
                br
                |  mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            .header__content-button
                a.header__content-buttonleft.btn(href='#') Purchase UI Kit
                a.header__content-buttonright.btn(href='#') Learn More
main
    section.block1
        .container
            .block1__top
                h2.block1__top-title Light, Fast &amp; Powerful
                p.block1__top-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    br
                    br
                    |  mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            .block1__bottom
                .block1__bottom-block
                    img.block1__bottom-block-img(src='./additional_files/img/Icon.svg' alt='Icon.')
                    h3.block1__bottom-block-title Title Goes Here
                    p.block1__bottom-block-text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                .block1__bottom-block
                    img.block1__bottom-block-img(src='./additional_files/img/Icon.svg' alt='Icon.')
                    h3.block1__bottom-block-title Title Goes Here
                    p.block1__bottom-block-text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    section.block2
        .container
            .block2__content
                h2.block2__content-title Light, Fast &amp; Powerful
                p.block2__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    br
                    br
                    |   mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    section.block3
        .container
            .block3__content
                h2.block3__content-title Light, Fast &amp; Powerful
                p.block3__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    br
                    br
                    |   mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    section.block4
        .container
            .block4__content
                h2.block4__content-title Light, Fast &amp; Powerful
                p.block4__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    br
                    br
                    |   mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                a.block4__content-button(href='#') Purchase Now
    section.offer
        .container
            .offer__topblock
                h2.offer__topblock-title A Price To Suit Everyone
                p.offer__topblock-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            .offer__middleblock
                p.offer__middleblock-title $40
                p.offer__middleblock-text UI Design Kit
            .offer__bottomblock
                p.offer__bottomblock-text See, One price. Simple.
                a.offer__bottomblock-button.btn(href='#') Purchase Now
footer.footer
    .container
        .footer__top
            .footer__logo
                a.immg(href='#')
                    img(src='./additional_files/img/Landie.svg' alt='Logo.')
            .footer__top-block
                p.footer__top-block-text &copy;2020 Yourcompany
                a.footer__top-block-button(href='#') Purchase now
        .footer__line
        .footer__bottom
            .footer__bottom-nav
                ul.footer__bottom-nav-item
                    li.footer__bottom-nav-links
                        a(href='#') Home
                    li.footer__bottom-nav-links
                        a(href='#') About
                    li.footer__bottom-nav-links
                        a(href='#') Contact
            .footer__bottom-social
                a.footer__bottom-social-link(href='#')
                    img.footer__bottom-social-icon(src='./additional_files/img/Path.svg' alt='Facebook icon')
                a.footer__bottom-social-link(href='#')
                    img.footer__bottom-social-icon(src='./additional_files/img/Combined Shape.svg' alt='Linkedin icon')
                a.footer__bottom-social-link(href='#')
                    img.footer__bottom-social-icon(src='./additional_files/img/Path(1).svg' alt='Twitter icon')
                a.footer__bottom-social-link(href='#')
                    img.footer__bottom-social-icon(src='./additional_files/img/Shape.svg' alt='Youtube icon')
                a.footer__bottom-social-link(href='#')
                    img.footer__bottom-social-icon(src='./additional_files/img/Instagram.svg' alt='Instagram icon')
